###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webapp-pack ###
/node_modules/
###< symfony/webapp-pack ###

###> cypress ###
cypress/videos/
cypress/screenshots/
cypress/downloads/
###< cypress ###

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
